@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
h1 {
  color: #000;
  font-size: 62px;
  font-weight: 800;
  margin-bottom: 100px;
  line-height: 72px;
  margin-top: 2em;
  text-align: center;
  text-transform: uppercase;
}
ol {
  position: relative;
  
}
ul li {
  list-style: none;
}

ol li {
  color: #333;
  padding: 5px 20px;
}



